
main {
    display: flex;
    flex-direction: column;
}

#home {
    margin-top: 55px; /*Revisar esto para tener en cuenta el margin del header*/
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#home__download {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#above__icons--float {
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
    margin-right: 75px;

}

#green--diamond {
    height: 15px;
    width: 15px;
}

#yellow--circle {
    height: 25px;
    width: 25px;
}

#home__description { /*¿Será necesario tanto flex??*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 90px;
}

/*Medidas responsive mobile

#home__description {    
    margin: 0 110px 90px 150px;
}

*/


h1 {
    font-size: 50px;
}


#home__download p {
    color: #828282;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.download__buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.button--red i {
    background-color: transparent;
    margin-right: 5px;
}

/*Revisar si lo voy a usar??
#medium__icons--float

Usar clases en vez de ids si se repiten*/

#medium__icons--float {
    position: relative;
    overflow: visible;
    z-index: -1;
}


/*Revisar*/
#medium__circle--white--left {
    height: 400px;
    position: absolute; 
    top: -150px;
    left: 0;
    transform: translateX(-50%)
}

#medium__circle--white--right {
    height: 400px;
    position: absolute; 
    top: -250px;
    right: 0;
    transform: translateX(50%);
}

#medium__circle--blue--left {
    height: 100px;
    position: absolute;
    top: -80px;
    left: 140px;
}

#header__mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

/* Usar para responsive?
#header__mobile img {
    max-width: 90%;
    margin: auto;
}
*/
#header__mobile img {
    max-width: 60%;
    margin: auto;
}

#home__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card--colored {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.card--padding {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card--padding i {
    background-color: transparent;
}

#icon__users--background {
    background-color: #ebe7fa;
    color: #aa7eec;
}

#icon__code--background {
    background-color: #daf4ef;
    color:#19ca94;
}

#icon__gear--background {
    background-color: #f8e5ea;
    color: #ff556e;
}

#icon__comments--background {
    background-color: #f8f1de;
    color: #ffb310;
}

#icon__rocket--background {
    background-color: #e1f2fa;
    color: #4fb9e8;
}
